/* Modelagem do corpo da página */
body {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Tirando a borda amarelada do input no chrome */
.dxeEditArea_Glass{
    outline: none !important;
}

/* Tira a borda da imagem */
img{
    border: 0;
    margin: 0;
    outline: 0;
}

/* Logotipo */
#logotipo{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top:-200px;
    margin-left: -99px;
}

/* Bloco de aviso que aparece no pop-up de recuperação de senha */
#blocoAvisoRecuperacao{
    margin: 0 0 15px 0; 
    font-family: Verdana; 
    font-size: 10px; 
    line-height: 17px;
    color: #7eacb1; 
    text-align: justify;
}

/* Estilo do container que sustenta o rounded panel de login */
#posicaoBox{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    margin-top: -100px; 
    margin-left: -175px;
}

/* Estilos do Rodapé da página de login */
#_rodape{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    margin-top: 150px; 
    margin-left: -170px; 
    font-family: Verdana; 
    font-size: 10px; 
    line-height: 17px; 
    color: #7eacb1; 
    text-align: justify;
}