<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <!-- <add name="SMEConnection" connectionString="server=localhost;database=sm3;user id=root; password=" providerName="MySql.Data.MySqlClient"/>-->
        <add name="SMEConnection" connectionString="server=mysql.oficinasme.com.br;database=oficinasme;user id=oficinasme; password=oficina123" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>